<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
      <!-- CSS Section -->
    <link rel="stylesheet" href="/Content/app.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

      <!-- JavaScript Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>


</html>
