/* 
   Author: Elvis Li
   My Website: https://www.elvisli.ca
   Date: Dec 13, 2023 

   Filename: app.css
*/

/* app.css */
.light-theme {
   background-color: #f8f9fa; /* light gray background */
   color: #212529; /* dark text */
 }
 
 .dark-theme {
   background-color: #343a40; /* dark gray background */
   color: #f8f9fa; /* light text */
 }
 

/* Custom css */

/* Custom css for the card */
.card-hover:hover {
   background-color: #d9f4f0
 }

 .card-hover2:hover {
   background-color: #005B4F; /* color when mouse stop on the card */
 }


 /* Custom css for the article */
 .article-content p {
   margin-bottom: 1rem;
   line-height: 1.6;
   text-align: justify;
 }
 
 .article-content h2, .article-content h3 {
   margin-top: 2rem;
   color: #333;
 }
 
 .article-content ul, .article-content ol {
   /* list */
   margin-left: 2rem;
 }
 
 .article-content li {
   /* list option */
   margin-bottom: 0.5rem;
 }
 
.article-content img {
   max-width: 100%;
   margin-bottom: 1rem;
}

.article-content blockquote {
   /* quote */
   margin: 1rem 0;
   padding: 0.5rem 1rem;
   border-left: 0.25rem solid #dfe2e5;
   background-color: #f8f9fa;
   color: #666;
}

 .article-stats p, .article-category p, .article-tags p {
   /* 元数据样式 */
   color: #666;
   font-size: 0.9rem;
 }
 
 .article-tags {
   /* tags */
   margin-top: 1rem;
 }
 
 .article-category {
   /* category */
   margin-top: 1rem;
 }
 

 
 


