<div class="container py-4 container-background">
<!-- Main content of AI Links -->
  <div class="p-5 mb-4 container-background rounded-3">
    <div class="container-fluid py-5 container-background">
      <p class="col-md-8 fs-2">Hi there,</p>
      <h1 class="display-1 fw-bold"><i>Welcome to the</i> AI Links page.</h1>
      <p class="col-md-12 fs-6 lh-lg">This is the AI Links page.</p>
    </div>
  </div>
</div>